<body style="background-color:pink;">
<a href="/tasks">Task Index</a>

<h1 style="color:white;"><%= @task.title %></h1>

<p style="color:white;"><%= @task.description %></p>

<a href="/tasks/<%= @task.id %>/edit">Edit</a>
</body>